<header>
  <div class="wrapper-header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row">
          <div class="eight columns">
            <div class="header-title">
              <a href="/search/consignment-search/_current/search" class="header-name"><h3 class="govuk-heading-l">Entity Search</h3></a>
              <p> Search & explore data</p>
              <a class="govuk-header__link betaHeader" href="#">
                <strong class="govuk-tag">BETA</strong>
              </a>
            </div>
          </div>
          <div class="eight columns">
            <nav>
              <ul id="topNav" class="alignRight" aria-label="Top navigation menu">
                <li class="">
                  <a class="govuk-header__link govuk-body-s" href="#1">
                    Help
                  </a>
                </li>
                <li class="">
                  <a class="govuk-header__link govuk-body-s" href="#2">
                    Peter Gabriel
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row border-top">
          <div class="twelve columns">
            <nav>
              <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link govuk-header__navigation-item--active" href="/search/consignment-search/_current/search">
                    Search
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Network
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Lead Generation
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    CRS Data breaches
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Unadjusted
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="four columns">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
