<header>
  <div class="wrapper-header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row">
          <div class="eight columns">
            <div class="header-title">
              <a href="/search/voyage-search/_current/search-landing" class="header-name"><h3 class="govuk-heading-l">Cerberus</h3></a>
              <p> Threat Analytics</p>
              <a class="govuk-header__link betaHeader" href="#">
                <strong class="govuk-tag">BETA</strong>
              </a>
            </div>
          </div>
          <div class="eight columns">
            <nav>
              <ul id="topNav" class="alignRight" aria-label="Top navigation menu">
                <!-- <li class="">
                  <a class="govuk-header__link govuk-body-s" href="#1">
                    Entity Search
                  </a>
                </li> -->
                <li class="">
                  <a class="govuk-header__link govuk-body-s" href="#2">
                    Peter Gabriel
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row border-top">
          <div class="twelve columns">
            <nav>
              <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Task
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="/rules/rules-listing/_current/rules-listing">
                    Rules
                  </a>
                </li>
                <!-- <li class="govuk-header__navigation-item dropdownItem">
                  <div class="dropdown">
                    <button class="dropbtn">Rules</button>
                    <div class="dropdown-content">
                      <a href="">Risk profiles</a>
                      <a href="">Selector profiles</a>
                    </div>
                  </div>
                </li> -->

                <!-- <li class="govuk-header__navigation-item dropdownItem">
                <div class="dropdown">
                  <button class="dropbtn govuk-header__navigation-item--active">Search</button>
                    <div class="dropdown-content">
                    <a href=" # /movement-search/search">Movement Search</a>
                    <a href="/manifests/manifest-search">Manifest search</a>
                    </div>
                  </div>
                </li> -->

                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link govuk-header__navigation-item--active" href="/search/voyage-search/_current/search-landing">
                    Search
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Management information
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Audit
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="four columns">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
